OPENGAUSS_PASSWORD=Gauss@2026
OPENGAUSS_PORT=5432
BACKEND_PORT=8000
FRONTEND_PORT=8080
SPARK_UI_PORT=4040
SPARK_WORKER_CORES=1
SPARK_WORKER_MEMORY=1g
PIP_INDEX_URL=https://pypi.tuna.tsinghua.edu.cn/simple
PIP_TRUSTED_HOST=pypi.tuna.tsinghua.edu.cn
NPM_REGISTRY=https://registry.npmmirror.com
