OPENGAUSS_PASSWORD=Gauss@2026
OPENGAUSS_PORT=5432
BACKEND_PORT=8000
FRONTEND_PORT=8080
PIP_INDEX_URL=https://pypi.tuna.tsinghua.edu.cn/simple
PIP_TRUSTED_HOST=pypi.tuna.tsinghua.edu.cn
NPM_REGISTRY=https://registry.npmmirror.com
